 
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

footer {
    position: absolute;
    bottom: 0px;
}

.highcharts-container > svg > text[text-anchor="end"] {
  display: none;
}

#content .params {
  margin-top: 25px;
}